@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Red+Hat+Display:wght@500;700;900&display=swap');
body{
 margin:0;
 padding:0;
 max-width:100%;
 background-color:hsl(225, 100%, 94%) ;
}

.podcast{
background:url(./images/pattern-background-desktop.svg);
background-repeat: no-repeat;
width: 100%;
height:900px;
margin:0px auto;
 padding:50px 0px; 
text-align: center;
}

.order-summary{
  width:100%;
    height: 900px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
    /* background-color: red; */

}

img{ 
 margin: 20px auto;
 width:30%;
 border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 
}

p {
 font-size: 16px;
 line-height:16px;
 word-spacing: 2px;
 margin-top: -20px;
 color: hsl(228, 18%, 51%);
 
}

.summary{
width:30% ;
height:400px;
background-color: #ffffff;
margin:-45px auto;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

.summary h2{
 padding:30px;
 color: hsl(223, 96%, 10%);
 text-shadow: 1px 1px hsl(228, 18%, 51%); 
 font-family:Red Hat Display;
 font-weight: bold;

}


.plan{
width:90%;
height:55px;
 margin:20px auto;
 background-color:hsl(225, 100%, 98%);
 display:flex;
 justify-content: space-around;
 border-radius:12px ;

}

.plan img{
 width:30px;
 height: 30px;
padding-top: -30px;
margin-left:10px; 
 
}

 .plan p {
color: hsl(223, 96%, 10%);
font-size: 12px;
font-weight: 800;
padding-top:35px;
margin-right:130px;
line-height:18px;
white-space: nowrap;
}

.plan a {
  padding-top: 20px;
  margin-right:40px;
  font-size: 14px;
  font-weight: bold;
}
 .order {
 width: 80%;
 height:40px;
 margin: 40px auto;
 background-color: hsl(245, 75%, 52%);
 justify-content: space-around;
 border-radius: 12px;
 box-shadow:4px 4px hsl(225, 100%, 94%);


}
.payment{
 padding:6px;
 color: hsl(225, 100%, 98%);
 font-weight: bold;
 font-family: Red Hat Display;
 font-size: 13px;
 cursor: pointer;
}
.cancel{
font-weight: bold;
 font-size: 14px;
 font-family:Red Hat Display ;
 margin-top:25px;
  cursor: pointer;

}

/* Media Query */


@media screen and (max-width:1096px) {

  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: hsl(225, 100%, 94%);
  }

  .podcast {
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
  }

  .order-summary {
    width: 100%;
    height: 900px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
    /* background-color: red; */

  }

  img {
    margin: 20px auto;
    width: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }

  p {
    font-size: 16px;
    line-height: 16px;
    word-spacing: 2px;
    margin-top: -20px;
    color: hsl(228, 18%, 51%);

  }

  .summary {
    width: 80%;
    height: 400px;
    background-color: #ffffff;
    margin: -45px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .summary h2 {
    padding: 30px;
    color: hsl(223, 96%, 10%);
    text-shadow: 1px 1px hsl(228, 18%, 51%);
    font-family: Red Hat Display;
    font-weight: bold;

  }


  .plan {
    width:80%;
    height: 55px;
    margin: 20px auto;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-around;
    border-radius: 12px;

  }

  .plan img {
    width:20px;
    height: 20px;
    padding-top: -30px;
    margin-left:100px;

  }

  .plan p {
    color: hsl(223, 96%, 10%);
    font-size: 10px;
    font-weight: 800;
    padding-top: 35px;
    margin-right: 180px;
    line-height: 18px;
    white-space: nowrap;
  }

  .plan a {
    width:50%;
    padding-top: 20px;
display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-right:110px;
  }

  .order {
    width: 80%;
    height: 40px;
    margin: 40px auto;
    background-color: hsl(245, 75%, 52%);
    justify-content: space-around;
    border-radius: 12px;
    box-shadow: 4px 4px hsl(225, 100%, 94%);


  }

  .payment {
    padding: 10px;
    color: hsl(225, 100%, 98%);
    font-weight: bold;
    font-family: Red Hat Display;
    font-size: 13px;
    cursor: pointer;
  }

  .cancel {
    font-weight: bold;
    font-size: 14px;
    font-family: Red Hat Display;
    margin-top: 25px;
    cursor: pointer;

  }

}